---
import { Image } from "astro:assets";

import { getTagColor, getTagTextColor } from "../../resources/utils";

const { proyecto, key } = Astro.props;
---

<a href={proyecto.url} target="_blank" rel="noreferrer" id={key}>
  <div class="tarjetav2" style={{ "--bgColor": proyecto.bgColor }}>
    <div class="poster">
      <Image src={proyecto.imagen} alt={`imgp-${proyecto.key}`} class={``} />
    </div>
    <div class="details">
      <h4>
        <b>{proyecto.titulo}</b>
      </h4>
      <div class="tags">
        {
          proyecto.tags.map((t: string) => {
            return (
              <span
                style={{
                  "--bgColor": getTagColor(t),
                  "--textColor": getTagTextColor(t),
                }}
              >
                {t}
              </span>
            );
          })
        }
      </div>
      <div class="info">{proyecto.texto}</div>
    </div>
  </div>
</a>