---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const allJobs = await getCollection("jobs");
---

<h3 class="mb-0 p-10 mt-20 w-full text-center text-5xl">Experiencia</h3>
<section class={`flex justify-center flex-row w-3/4 m-auto`}>
  <div class="w-full">
    {
      allJobs
        .sort((j1, j2) => j2.data.year_start - j1.data.year_start)
        .map((job, index) => {
          function getYear(year: number): string {
            switch (year) {
              case 0:
                return "";
              case -1:
                return "- Actualidad";
              default:
                return ` - ${year}`;
            }
          }

          return (
            <div
              class={`flex my-20 ${index % 2 ? "flex-row" : "flex-row-reverse"}`}
            >
              <div class="w-2/5 items-center flex justify-center fade-in-up">
                <h4 class="text-6xl font-bold">
                  {job.data.year_start}
                  {getYear(job.data.year_end)}
                </h4>
              </div>
              <a
                href={job.data.url}
                target="_blank"
                class="relative max-w-md mx-auto md:max-w-2xl min-w-0 break-words bg-stone-300 h-60 w-full mb-6 shadow-lg rounded-xl mt-16"
              >
                <div class="px-6">
                  <div class="flex flex-wrap justify-center">
                    <div class="w-full flex justify-center">
                      <div class="relative">
                        <div class="shadow-xl rounded-full align-middle border-none absolute -m-20 p-2 max-w-[200px] bg-fuchsia-500">
                          <Image
                            class=""
                            alt={job.slug}
                            src={job.data.logo}
                            width={200}
                            format="webp"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-20">
                    <h3 class="text-2xl text-slate-700 font-bold leading-normal">
                      {job.data.title}
                    </h3>
                  </div>
                  <div class="mt-2 py-2 border-t border-slate-200 text-center">
                    <div class="flex flex-wrap justify-center">
                      <div class="w-full px-4">
                        {job.data.content.map((c) => (
                          <p class="font-light leading-relaxed text-slate-600">
                            {c}
                          </p>
                        ))}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          );
        })
    }
  </div>
</section>

<style>
  .oculto {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Opcional: animación de transición */
  }

  .oculto:target {
    opacity: 1;
  }
</style>
