---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const allStudies = await getCollection("studies");
---

<h3 class="mb-0 p-10 mt-20 w-full text-center text-5xl">Estudios</h3>
<section class={`flex justify-center flex-row w-3/4 m-auto`}>
  <div class="w-full">
    {
      allStudies
        .sort((j1, j2) => j2.data.year - j1.data.year)
        .map((study, index) => {
          return (
            <div
              class={`flex my-20 ${index % 2 ? "flex-row-reverse" : "flex-row"}`}
            >
              <div class="w-2/5 items-center flex justify-center fade-in-up">
                <h4 class="text-6xl font-bold">{study.data.year}</h4>
              </div>

              <a
                href={study.data.url}
                target="_blank"
                class="relative max-w-md mx-auto md:max-w-2xl min-w-0 break-words bg-stone-300 h-60 w-full mb-6 shadow-lg rounded-xl mt-16"
              >
                <div class="px-6">
                  <div class="flex flex-wrap justify-center">
                    <div class="w-full flex justify-center">
                      <div class="relative">
                        <div class="shadow-xl rounded-full align-middle border-none absolute -m-20 p-2 max-w-[200px] bg-amber-400">
                          <Image
                            class=""
                            alt={study.slug}
                            src={study.data.logo}
                            width={200}
                            format="webp"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-20">
                    <h3 class="text-2xl text-slate-700 font-bold leading-normal">
                      {study.data.title}
                    </h3>
                  </div>
                  <div class="mt-2 py-2 border-t border-slate-200 text-center">
                    <div class="flex flex-wrap justify-center">
                      <div class="w-full px-4">
                        {study.data.content.map((c) => (
                          <p class="font-light leading-relaxed text-slate-600">
                            {c}
                          </p>
                        ))}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          );
        })
    }
  </div>
</section>

<script></script>

<style>
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s forwards;
  }

  .fade-in-up.in-view {
    opacity: 1;
  }
</style>
